.App {
  text-align: center;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8px;
}

.profile-card {
  position: relative; 
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ff6961;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.add-button {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.snackbar {
  position: fixed;
  width: fit-content;
  height: 50px;
  bottom: 20px;
  left: 50%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: -150px; /* Half of the snackbar's width (300px) */
}


.snackbar span {
  font-size: larger;
  text-align: center;
}

.snackbar-close {
  background-color: transparent;
  color: white;
  margin-left: 5px;
  margin-bottom: 15px;
  border: none;
  font-size: large;
  cursor: pointer;
}
